* {
	font-family: 'Lato', sans-serif;
}

body {
  background-color: lightblue;
}

#page_content {
	border-radius: 15px;
	background-color: rgb(236, 220, 196);
	position: relative;
	margin: 5em;
	box-shadow: 15px 15px rgba(0, 0, 0, 0.8);
}

#header {
	box-sizing: border-box;
	font-size: 48px;
	text-align: center;
}